<h2>Model List</h2>

<input type="text" [(ngModel)]="searchTerm" (keyup)="getModels()" placeholder="Search...">
<button class="btn btn-outline-primary btn-pill btn-lg" (click)="getModels()"><span class="fa fa-search"></span></button>

<table class="table container">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Locale</th>
      <th scope="col">Brand ID</th>
      <th scope="col">Model Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">City</th>
      <th scope="col">Country</th>
      <th scope="col">Zip Code</th>
      <th scope="col">Image</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let model of filteredModels">
      <td>{{ model.id }}</td>
      <td>{{ model.locale }}</td>
      <td>{{ model.brand_id }}</td>
      <td>{{ model.modelname }}</td>
      <td>{{ model.description }}</td>
      <td>{{ model.price }}</td>
      <td>{{ model.city }}</td>
      <td>{{ model.country }}</td>
      <td>{{ model.zipcode }}</td>
      <td>
        <img [src]="convertBytesToImageUrl(model.image)" alt="Car Image">
      </td>
      <td>
        <button mat-icon-button color="accent" (click)="addModel(model)"><mat-icon>add</mat-icon></button>
        <button mat-icon-button color="warn" [routerLink]="['/update-model', model.id]"><mat-icon>update</mat-icon></button>
        <button mat-icon-button color="warn" (click)="deleteModel(model.id)"><mat-icon>delete</mat-icon></button>
      </td>
    </tr>
  </tbody>
</table>

<mat-paginator 
  [length]="totalModels" 
  [pageSize]="pageSize" 
  [pageSizeOptions]="[5, 10, 25, 100]" 
  (page)="onPageChange($event)">
</mat-paginator>
