<p>buy-car</p>
<div class="container">
    <div class="row">
      <div class="col-md-6 mb-3">
        <h2 class="display-5" id="buyHeader">{{ "buyCar" | translate }}</h2>
        <div class="row justify-content-center">
            <div class="col-md-6">
              <div *ngIf="car">
            <p>{{ car.name }}</p>
            <p>{{ car.description }}</p>
            <p>{{ car.price | currency }}</p>
            <img [src]="convertBytesToImageUrl(car.image)" alt="Car Image" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <app-credit-card-form ></app-credit-card-form>
      </div>
    </div>
  </div>
