
<h3>Update Product</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="updateProduct()" [formGroup]="productForm">
    <mat-form-field>
      <input matInput formControlName="id" placeholder="Id" readonly>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="category_id" placeholder="category_id">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="name" placeholder="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="description" placeholder="description">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="price" placeholder="price">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="locale" placeholder="locale">
    </mat-form-field>
    <div class="form-group">
      <label for="image">Image:</label>
      <input type="file" accept="image/*" (change)="onSelectFile($event)">
    </div>
    <div class="mt-3" *ngIf="image">
      <h4>Selected Image :</h4>
      <img [src]="image" alt="Selected Image" style="max-width: 100%; height: auto;">
    </div>
    <br>
    <button mat-raised-button color="primary" type="submit">Update</button>
  </form>
</div>
